<div class="side-bar">
  <div>
    <img src="../assets/images/programmer.png" class="rounded mx-auto d-block profile-img" alt="...">
  </div>
  
  <nav class="side-nav">
    {% for group in site.data.category.groups %}
      <div class="list-group list-group-flush">
        {% for item in group.items %}
          <a href="/{{item.link}}" class="list-group-item list-group-item-action">
            {{item.item_name}}
          </a>
        {% endfor %}
      </ul>
      <br/>
    {% endfor %}
  </nav>
</div>