<div class="side-bar">
  <div>
    <img src="../assets/images/programmer.png" class="rounded mx-auto d-block profile-img" alt="...">
  </div>

  <nav class="side-nav">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-action">About Me</li>
    </ul>
    <br/>
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-action">flutter</li>
      <li class="list-group-item list-group-item-action">react</li>
      <li class="list-group-item list-group-item-action">nextjs</li>
      <li class="list-group-item list-group-item-action">nodejs</li>
      <li class="list-group-item list-group-item-action">aws-lambda</li>
    </ul>
  </nav>
</div>