html, body {
  height: 100%;
  color: white;
}

.side-bar {
  float: left;
  height: 100%;
  width: 200px;
  box-shadow: 0px 0px 2px 2px #d3d3d3;
  padding-top: 50px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: 10px;
}

.side-bar::-webkit-scrollbar {
  width: 4px;
}

.side-bar::-webkit-scrollbar-track {
  background: white;
}

.side-bar::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  visibility:hidden;
}

.side-bar:hover::-webkit-scrollbar-thumb {
  visibility:visible;
}

.side-bar .profile-img {
  width: 150px;
  height: 150px;
}

.side-nav {
  margin-top: 50px;
}

.content {
  display: inline-block;
  height: 100%;
  width: calc(100% - 200px);
  padding: 100px;
  overflow-y: auto;
}

.post-title {
  text-align: center;
  margin-bottom: 30px;
}