html, body {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .side-bar-wrapper {
    display: none;
  }

  .content {
    margin: 0px !important;
  }
}

.side-bar-wrapper {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
  box-shadow: 0px 0px 2px 2px #d3d3d3;
  padding-top: 80px;
}

.content {
  margin-left: 215px;
  padding-top: 100px;
  height: 100%;
}

.side-bar::-webkit-scrollbar {
  width: 4px;
}

.side-bar::-webkit-scrollbar-track {
  background: white;
}

.side-bar::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  visibility:hidden;
}

.side-bar:hover::-webkit-scrollbar-thumb {
  visibility:visible;
}

.side-bar .profile-img {
  width: 150px;
  height: 150px;
}

.post-title {
  text-align: center;
  margin-bottom: 30px;
}